@import "../../scss/colors";

.header {
	background: $dark;
	height: 60px;
	transition: 0.3s all;
	display: flex;
	align-items: center;
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
  .logo {
    transition: 2s all;
    a {
      display: block;
    }
    &:hover {
      transform: rotate(720deg) translateZ(0);
    }
  }
	.header__user {
		margin-left: auto;
		display: flex;
		align-items: center;
		.input-wrap {
			margin-right: 20px;
		}
	}
}
