@import "../../scss/colors";

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-flow: column;
  min-height: calc(100vh - 60px);
  &.not-empty {
    min-height: auto;
  }
}

.create-new:not(.not-empty) {
  margin: 20px 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: $white;
  transition: 0.3s all;
  border-radius: 10px;
  box-shadow: 0 0 19px 0 $medium_aqua;
  * {
    color: $medium_aqua;
  }
  &:not(.stories__element):hover {
    cursor: pointer;
    box-shadow: 0 0 50px 5px $medium_aqua;
  }
}

.create-new.not-empty {
  width: 100%;
  opacity: 0;
  display: flex;
  height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: .3s all;
  i {
    transition: .3s all;
  }
  &.visible {
    height: 40px;
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
    height: 60px;
    color: $medium_aqua;
    i {
      color: $medium_aqua !important;
    }
  }
}

.stories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  .stories__element {
    display: flex;
    text-decoration: none;
    z-index: 10;
    width: 33.33333333%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &.loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      content: "";
      float: left;
      padding-top: 100%;
    }
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $dark;
      opacity: 0;
      transition: 0.3s all;
    }
    &:hover {
      cursor: pointer;
      .overlay {
        opacity: 0.8;
      }
      .stories__element-title {
        opacity: 1;
        color: $white;
      }
    }
    .stories__element-title {
      color: #fff;
      opacity: 0;
      z-index: 6;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      transition: 0.3s all;
    }
    //&.create-new {
    //  border-radius: 0;
    //  box-sizing: border-box;
    //  box-shadow: none;
    //  display: block;
    //  height: auto;
    //  margin: 0;
    //  .material-icons {
    //    transition: 0.6s all;
    //    margin-right: 10px;
    //  }
    //  &:hover {
    //    .material-icons {
    //      transform: rotate(495deg);
    //    }
    //  }
    //  .create-new__title {
    //    position: absolute;
    //    left: 50%;
    //    top: 50%;
    //    display: flex;
    //    width: 100%;
    //    justify-content: center;
    //    margin: 0;
    //    color: $dark;
    //    transform: translate(-50%, -50%);
    //  }
    //}
  }
}
