.loader {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  opacity: 0;
  top: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s all;
  &.active {
    top: 0;
    opacity: 1;
  }
}
