@keyframes spin {
  from {transform: rotate(0)}
  to {transform: rotate(1080deg)}
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  animation: spin 5s infinite;
  img {
    width: 100%;
  }
}