@import "colors";

body,
html {
	overflow-x: hidden;
}

body {
	background: $white;
}

.wrapper {
	width: 100%;
	padding: 0 20px;
	max-width: 1200px;
	display: flex;
	margin: 0 auto;
}

* {
	font: 14px "Roboto";
	box-sizing: border-box;
}

.title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.input-wrap {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	&:last-child {
		margin-bottom: 0;
	}
}

.submit-wrap {
	justify-content: center;
}

input,
textarea {
	border: none;
	border-bottom: 1px solid $dark;
	outline: none;
	height: 30px;
	width: 100%;
	padding: 0 10px;
	border-radius: 0;
	transition: 0.3s all;
	position: relative;
	color: $dark;
	&::-webkit-input-placeholder {
		transition: 0.3s all;
		color: $dark;
	}
	&::-moz-placeholder {
		transition: 0.3s all;
		color: $dark;
	}
	&.error {
		border-color: $light_salmon_pink;
		color: $light_salmon_pink;
		&::-webkit-input-placeholder {
			color: $light_salmon_pink;
		}
		&::-moz-placeholder {
			color: $light_salmon_pink;
		}
	}
	//&:active,
	//&:focus {
	//	border-color: $dark;
	//}
}

textarea {
	height: 200px;
}

.btn {
	background: transparent;
	color: $white;
	display: inline-block;
	outline: none;
	border: 2px solid $white;
	border-radius: 10px;
	text-decoration: none;
	padding: 15px;
	transition: 0.6s all;
	&.btn-dark {
		background: $dark;
		&:hover {
			border: 2px solid $dark;
			color: $dark;
			background: $white;
		}
	}
	&:hover {
		cursor: pointer;
	}
}
