@import "colors";

body {
  background: $light_cyan;
}
.wrapper {
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

* {
  font: 14px "Roboto";
}

input {
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  transition: .3s all;
  &:focus {
    box-shadow: inset 0 0 5px 2px $electric_blue;
  }
}

.btn {
  background: transparent;
  color: $white;
  display: flex;
  outline: none;
  border: 2px solid $white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}